.formlabel{
    font-size: 40px;
    font-family: monospace;
  }
  .formoptions{
    font-size: 40px;
    font-family: monospace;
  }
  .formsubmitbutton{
    font-size: 40px;
    font-family: monospace;
  }